@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lemonada:wght@300;400;500;515;600;700&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

h1 {
    @apply text-4xl;
}

h2{
    @apply  text-2xl;
}

h3{
    @apply text-lg;
}

h4{
    @apply text-base;
}

h5{
    @apply text-sm;
}

h6{
    @apply text-xs;
}

@responsive{
    /* =================================Navbar================================= */
    .grid-col-1{
        @apply grid grid-cols-1; 
    }

    .grid-col-2{
        @apply grid grid-cols-2; 
    }

    .grid-col-6{
        @apply grid grid-cols-6; 
    }

    .centrar-contenedor{
        @apply flex justify-center items-center;
    }

    .contenedor-navbar{
        @apply bg-green-500;
        @apply p-4;
    }

    .contenedor-logo {
        @apply h-full;
        background: url("../img/BestFruit_Logo_horizontal.png");
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .contenedor-enlace{
        @apply col-span-3;
    }

    .contenedor-enlace__ul{
        @apply h-full;
    }

    .contenedor-enlace__li{
    @apply text-white;
    @apply font-lato;
    @apply rounded-md;
    @apply w-full;
}

.contenedor-enlace__li--activo{
    @apply bg-green-600;
    @apply py-1;
}

.contendor-btn{
    @apply col-span-2;
}

.btn{
    @apply flex justify-center items-center;
    @apply font-lato;
    @apply rounded-lg;
    @apply h-10;
}

.btn-blue{
    @apply bg-blue-500;
}

.btn-orange{
    @apply bg-orange-500;
}

    /* =================================Navbar================================= */

    /* =================================Banner================================= */

    .contenedor-parallax {
        @apply text-white;
        background: url("../img/parallax.jpg");
        height: 500px;
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
    }

    .contenedor-parallax__titulo{
        @apply text-center;
    }

    .contenedor-parallax__h1{
        @apply font-lemonada;
        @apply text-5xl font-medium;
        @apply text-center;
    }

    .contenedor-parallax__p{
        @apply font-lemonada;
        @apply text-2xl font-light;
        @apply text-center;
        @apply max-w-4xl;
    }

    .contenedor-info{
        @apply p-6;
    }

    .contenedor-info__ico{
        @apply text-orange-500;
        @apply text-center;
    }

    .contenedor-info__tit{
        @apply font-notoserif;
        @apply font-medium;
        @apply text-orange-500;
        @apply text-center;
    }

    .contenedor-info__par{
        @apply font-lato;
        @apply font-light;
        @apply text-justify;
    }

    /* =================================Banner================================= */
    
    /* =================================Oferta-Producto================================= */

    .contenedor-producto-oferta{}

.contenedor-titulo{
    @apply font-lemonada;
    @apply text-center;
    @apply my-10;
}

.slider{
    @apply flex justify-center;
}

.slider__contenedor {
    @apply relative;
    width: 80vw;
}

.slider__lista{
    @apply flex justify-center;
}

.slider__elemento{
    @apply flex justify-center;
}

.contenedor-tarjeta{
    @apply table;
    @apply rounded-lg;
    @apply shadow-lg;
    @apply m-4 mx-10;
}

.imagen-tarjeta{
    @apply bg-cover;
    @apply rounded-t-lg;
    background-image: url('../img/frambuesas.jpg');
    width: 250px;
    height: 250px;
}

.titulo-tarjeta{
    @apply font-lato;
    @apply font-bold;
    @apply text-center;
    @apply py-2;
    width: 250px;
}

.unidad-tarjeta{
    @apply font-lato;
    @apply text-sm italic font-light;
    @apply text-center;
}

.precio-tarjeta{
    @apply font-lato;
    @apply text-xl .font-black;
    @apply text-center;
    @apply py-2;
    width: 250px;
}

.boton-tarjeta{
    @apply text-center;
    @apply py-4;
    width: 250px;
}

.slider__anterior{
    @apply absolute;
    @apply inset-y-0;
    @apply text-green-500;
    @apply text-5xl text-opacity-50;
}

.slider__siguiente{
    @apply absolute;
    @apply inset-y-0;
    @apply text-green-500 ;
    @apply text-5xl text-opacity-50;
    right: 0;
}

    /* =================================Oferta-Producto================================= */

    /* =====================================Footer===================================== */

.contenedor-footer{
    @apply bg-orange-500;
}

.seccion{
    @apply my-4;
}

.seccion-titulo{
    @apply border-b-4 border-white;
    @apply text-center;
    @apply m-4;
}

.seccion-titulo__h1{
    @apply text-white font-lemonada;
}

.seccion-imagen{
    @apply flex justify-center;
    @apply mt-4;
}

.seccion-imagen__img{
    width: 170px;
    height: 170px;
}

.seccion-info{
    @apply px-4;
}

.seccion-info__p{
    @apply text-white font-lato text-lg;
    @apply text-center;
}

.seccion-enlaces{}

.seccion-enlaces__li{
    @apply text-white font-lato text-lg;
    @apply text-center;
}

.seccion-contactos{
    @apply px-4;
}

.medio-contacto{
    @apply flex items-center;
}

.contenedor-icono{
    @apply my-2;
}

.contenedor-icono__i{
    @apply text-white text-5xl;
}

.contenedor-texto{
    @apply pl-4;
}

.contenedor-texto__span{
    @apply text-lg text-white font-lato;
}

.seccion-copyright{
    @apply border-t-4 border-b-4 border-white;
    @apply text-center;
    @apply mx-4;
    align-self: flex-end;
}

.seccion-copyright__span{
    @apply text-white text-2xl font-lato italic;
}

    /* =====================================Footer===================================== */
    
    /* =====================================Login====================================== */

.contenedor-login{
    @apply h-screen;
    background: url('../img/bg.jpg');
    background-size: cover;
}
.ventana-login{
    @apply  rounded-lg;
    @apply  bg-white;
    @apply  mx-5 px-5;
    min-width: 30%;
}
.ventana-titulo{
    @apply text-center;
}
.ventana-titulo__h1{
    @apply font-notoserif font-bold;
    @apply py-4;
}
.formulario-login{
    @apply grid;
    @apply m-2;
}
.formulario-login__input{
    @apply rounded-lg border-t-2 bg-gray-100;
    @apply my-4 p-2;
}
.formulario-login__btn{
    @apply font-lato text-lg text-white text-center;
    @apply rounded-lg;
    @apply bg-green-500;
    @apply mt-4;
}
.enlace-sign{
    @apply text-center;
    @apply pb-4;
}
.enlace-sign__span{
    @apply text-base font-lato;
}
.enlace-sign__a{
    @apply text-base font-lato font-bold;
}

    /* =====================================Login====================================== */

    /* =====================================Registro====================================== */

.registro-contenedor{
    @apply h-screen;
    background: url('../img/bg.jpg');
    background-size: cover;
}

.ventana-registro{
    @apply bg-white;
    @apply rounded-lg;
    @apply mx-5 px-5;
    min-width: 50%;
}

.formulario-registro__input{
    @apply bg-gray-100 p-2 m-2 border-2 rounded-lg;

}

.formulario-registro__checkbox{
    @apply relative;
    @apply bg-white appearance-none outline-none;
    @apply border-2 rounded-full;
    @apply duration-100;
    width: 50px;
    height: 30px;
}

input.formulario-registro__checkbox:after {
    content: "";
    position: absolute;
    top: 0px; left: 0px;
    width: 26px; height: 26px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #e2e8f0;
}

input.formulario-registro__checkbox:checked {
    border-color: #4ED164;
    background-color: #4ED164;
    transition-duration: 200ms;
}

input.formulario-registro__checkbox:checked:after {
    left: 20px;
}

.contenedor-select{
    @apply flex items-center relative m-2;
    @apply relative;
    @apply m-2;
}

.formulario-registro__select{
    @apply bg-gray-100 appearance-none;
    @apply border-2 rounded-lg;
    @apply w-full;
    @apply p-2;
}

    /* =====================================Registro====================================== */


}

@import "tailwindcss/utilities";
