<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Maipo Grande</title> 
        {% load static %}
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
        <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">

    </head>  
    <body class="body">
        <header>            
            <nav>               
                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a href="{% url 'home' %}">Portal de Saldos</a></li>
                    <li><a href="#quienessomos">Quiénes Somos</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="{% url 'login' %}">Ingreso</a></li>
                </ul>
            </nav>
        </header>

        <div class="contenido">

            {% block contenido %}
            
            {% endblock contenido %}

        </div>          
        <div class="footer">         
            <div id='footer-column-container'>
                <div id='footer1' style='width: 32%; float: left; margin:1px 1px 1px 1px; text-align: left;'>
                    <img   class=" logo" src="{% static 'core/img/logo/pequenio.png' %}" alt="logo de la pagina">
                </div>
                <div id='footer2' style='width: 32%; float: left; margin:1px 1px 1px 1px; text-align: left;'>
                    <section class='footer-column' id='col1' preferred='yes' style='float:left;'>
                        <i class="fa fa-phone">+00 (123) 456 7890</i>
                    </section>
                </div>
                
                <div id='footer3' style='width: 32%; float: right; margin:1px 1px 1px 1px; text-align: left;'>
                    <section class='footer-column' id='col3' preferred='yes' style='float:right;'>
                        <i class="fa fa-envelope-o">MG.Contactos@maipoGrande.com</i>
                    </section>
                </div>
            </div>         
        </div>   
    </body>
</html>
