{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<!-- Inicio Banner -->

<div class="contenedor-parallax centrar-contenedor grid-col-1">
  <div class="contenedor-parallax__titulo">
    <h1 class="contenedor-parallax__h1">Lorem ipsum dolor sit</h1>
    <p class="contenedor-parallax__p">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dicta. Ea
      corrupti beatae laboriosam quisquam.
    </p>
  </div>
</div>
<div class="grid-col-1 md:grid-cols-3" style="min-height: 250px">
  <div class="contenedor-info lg:px-16">
    <div class="contenedor-info__ico">
      <i class="fas fa-seedling text-5xl"></i>
    </div>
    <div class="contenedor-info__tit">
      <h2>Lorem ipsum dolor sit amet.</h2>
    </div>
    <div class="contenedor-info__par">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
        doloremque fugiat quo illum dolorem adipisci nobis ipsum.
      </p>
    </div>
  </div>
  <div class="contenedor-info lg:px-16">
    <div class="contenedor-info__ico">
      <i class="far fa-lemon text-5xl"></i>
    </div>
    <div class="contenedor-info__tit">
      <h2>Lorem ipsum dolor sit amet.</h2>
    </div>
    <div class="contenedor-info__par">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
        doloremque fugiat quo illum dolorem adipisci nobis ipsum.
      </p>
    </div>
  </div>
  <div class="contenedor-info lg:px-16">
    <div class="contenedor-info__ico">
      <i class="fas fa-truck text-5xl"></i>
    </div>
    <div class="contenedor-info__tit">
      <h2>Lorem ipsum dolor sit amet.</h2>
    </div>
    <div class="contenedor-info__par">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nemo
        doloremque fugiat quo illum dolorem adipisci nobis ipsum.
      </p>
    </div>
  </div>
</div>

<!-- Fin Banner -->

<!-- Inicio Oferta Momento -->

<div class="contenedor-producto-oferta">
  <div class="contenedor-titulo">
    <h1>Ofertas del Momento</h1>
  </div>
  <div class="slider">
    <div class="slider__contenedor">
      <div class="slider__lista">
        <!-- Agregar N Elementos -->
        <div class="slider__elemento">
          <div class="contenedor-tarjeta">
            <div class="imagen-tarjeta"></div>
            <div class="titulo-tarjeta">
              <h2>Lorem ipsum dolor 1</h2>
            </div>
            <div class="unidad-tarjeta"><span>Unidad</span></div>
            <div class="precio-tarjeta">
              <h2>$10.990</h2>
            </div>
            <div class="boton-tarjeta">
              <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
                <span class="text-white">Comprar</span>
              </div>
            </div>
          </div>
        </div>
        <div class="slider__elemento">
          <div class="contenedor-tarjeta">
            <div class="imagen-tarjeta"></div>
            <div class="titulo-tarjeta">
              <h2>Lorem ipsum dolor</h2>
            </div>
            <div class="unidad-tarjeta"><span>Unidad</span></div>
            <div class="precio-tarjeta">
              <h2>$10.990</h2>
            </div>
            <div class="boton-tarjeta">
              <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
                <span class="text-white">Comprar</span>
              </div>
            </div>
          </div>
        </div>
        <div class="slider__elemento">
          <div class="contenedor-tarjeta">
            <div class="imagen-tarjeta"></div>
            <div class="titulo-tarjeta">
              <h2>Lorem ipsum dolor</h2>
            </div>
            <div class="unidad-tarjeta"><span>Unidad</span></div>
            <div class="precio-tarjeta">
              <h2>$10.990</h2>
            </div>
            <div class="boton-tarjeta">
              <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
                <span class="text-white">Comprar</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        aria-label="Anterior"
        class="slider__anterior hover:text-opacity-100"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      <button
        aria-label="Siguiente"
        class="slider__siguiente absolute hover:text-opacity-100"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <!-- <div role="tablist" class="slider__indicadores"></div> -->
  </div>
</div>

<!-- Fin Oferta Momento -->

<!-- Inicio Productos -->

<!-- No hice clases en css -->
<div class="cotenedor-producto my-10">
  <div class="contenedor-titulo text center">
    <h1>Nuestros Productos</h1>
  </div>
  <div
    class="contenedor-producto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <div class="flex justify-center py-4">
      <div class="contenedor-tarjeta">
        <div class="imagen-tarjeta"></div>
        <div class="titulo-tarjeta">
          <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="unidad-tarjeta"><span>Unidad</span></div>
        <div class="precio-tarjeta">
          <h2>$10.990</h2>
        </div>
        <div class="boton-tarjeta">
          <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
            <span class="text-white">Comprar</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center py-4">
      <div class="contenedor-tarjeta">
        <div class="imagen-tarjeta"></div>
        <div class="titulo-tarjeta">
          <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="unidad-tarjeta"><span>Unidad</span></div>
        <div class="precio-tarjeta">
          <h2>$10.990</h2>
        </div>
        <div class="boton-tarjeta">
          <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
            <span class="text-white">Comprar</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center py-4">
      <div class="contenedor-tarjeta">
        <div class="imagen-tarjeta"></div>
        <div class="titulo-tarjeta">
          <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="unidad-tarjeta"><span>Unidad</span></div>
        <div class="precio-tarjeta">
          <h2>$10.990</h2>
        </div>
        <div class="boton-tarjeta">
          <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
            <span class="text-white">Comprar</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center py-4">
      <div class="contenedor-tarjeta">
        <div class="imagen-tarjeta"></div>
        <div class="titulo-tarjeta">
          <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="unidad-tarjeta"><span>Unidad</span></div>
        <div class="precio-tarjeta">
          <h2>$10.990</h2>
        </div>
        <div class="boton-tarjeta">
          <div class="btn bg-green-500 hover:bg-green-600 mx-10 mt-1">
            <span class="text-white">Comprar</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fin Productos -->
{% endblock %}