{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css"
    />
  </head>

  <body>
    <!-- inicio navbar -->
    <div class="contenedor-navbar grid grid-cols-1 md:grid-col-6">
      <div class="contenedor-menu flex justify-end border-b pr-4 md:hidden">
        <span class="py-4"
          ><i class="fas fa-bars text-white text-3xl"></i
        ></span>
      </div>
      <div class="contenedor-logo hidden md:flex centrar-contenedor"></div>
      <div class="contenedor-enlace md:col-span-3">
        <ul
          class="contenedor-enlace__ul grid grid-cols-1 md:grid-col-6 centrar-contenedor"
        >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0 contenedor-enlace__li--activo md:rounded-md"
            ><li>Inicio</li></a
          >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0"
            ><li>Link #2</li></a
          >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0"
            ><li>Link #3</li></a
          >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0"
            ><li>Link #4</li></a
          >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0"
            ><li>Link #5</li></a
          >
          <a
            href="#"
            class="contenedor-enlace__li centrar-contenedor py-4 hover:bg-green-600 md:p-0"
            ><li>Link #6</li></a
          >
        </ul>
      </div>
      <div
        class="contenedor-btn grid grid-cols-1 col-span-3 md:grid-col-2 md:col-span-2"
      >
        <div class="centrar-contenedor py-2 md:py-0">
          <a href="#" class="btn btn-blue w-full md:w-48 hover:bg-blue-600"
            ><span class="text-white">Ingresar</span></a
          >
        </div>
        <div class="centrar-contenedor py-2 md:py-0">
          <a href="#" class="btn btn-orange w-full md:w-48 hover:bg-orange-600"
            ><span class="text-white">Registrarse</span></a
          >
        </div>
      </div>
    </div>
    <!-- fin navbar -->

    {% block content %} {% endblock %}

    <!-- inicio footer -->
    <div class="contenedor-footer grid grid-cols-1 lg:grid-cols-3">
      <div class="seccion">
        <div class="seccion-titulo">
          <h1 class="seccion-titulo__h1">BestFruit</h1>
        </div>
        <div class="seccion-imagen flex justify-center my-4">
          <img
            src="../static/core/img/BestFruit.png"
            alt="Logo"
            class="seccion-imagen__img"
          />
        </div>
        <div class="seccion-info px-4">
          <p class="seccion-info__p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in
            erat eu neque egestas ultrices vel convallis augue. Maecenas mollis
            nisi ut dui pulvinar, vitae dapibus eros molestie.
          </p>
        </div>
      </div>
      <div class="seccion">
        <div class="seccion-titulo">
          <h1 class="seccion-titulo__h1">Menú</h1>
        </div>
        <div class="seccion-enlaces">
          <ul class="grid content-between" style="height: 290px">
            <a href=""><li class="seccion-enlaces__li">Link 1</li></a>
            <a href=""><li class="seccion-enlaces__li">Link 2</li></a>
            <a href=""><li class="seccion-enlaces__li">Link 3</li></a>
            <a href=""><li class="seccion-enlaces__li">Link 4</li></a>
            <a href=""><li class="seccion-enlaces__li">Link 5</li></a>
            <a href=""><li class="seccion-enlaces__li">Link 6</li></a>
          </ul>
        </div>
      </div>
      <div class="seccion grid">
        <div class="seccion-titulo">
          <h1 class="seccion-titulo__h1">Contactanos en...</h1>
        </div>
        <div class="seccion-contactos">
          <div class="medio-contacto">
            <div class="contenedor-icono">
              <i class="contenedor-icono__i fas fa-phone-square-alt"></i>
            </div>
            <div class="contenedor-texto">
              <span class="contenedor-texto__span">+56 9 1122 3344</span>
            </div>
          </div>
          <div class="medio-contacto">
            <div class="contenedor-icono">
              <i class="contenedor-icono__i fas fa-envelope-square"></i>
            </div>
            <div class="contenedor-texto">
              <span class="contenedor-texto__span">noexiste@bestfruit.cl</span>
            </div>
          </div>
          <div class="medio-contacto">
            <div class="contenedor-icono">
              <i class="contenedor-icono__i fab fa-instagram-square"></i>
            </div>
            <div class="contenedor-texto">
              <span class="contenedor-texto__span">@BestFruit</span>
            </div>
          </div>
        </div>
        <div class="seccion-copyright">
          <span class="seccion-copyright__span">&copy; 2020 BestFruit</span>
        </div>
      </div>
    </div>
    <!-- fin footer -->
    <script
      src="https://kit.fontawesome.com/31996b37bc.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static '../static/js/glide.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/f126795e7d.js" crossorigin="anonymous"></script>
  </body>
</html>
